.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Override React PDF Viewer styles to force full-width viewer */
.pdf-wrapper {
  width: 100vw;
  padding: 0 10px;
  overflow-x: auto;
}

.rpv-core__viewer {
  width: 100% !important;
}

.rpv-core__inner-pages {
  display: flex !important;
  flex-wrap: nowrap !important;
  justify-content: center !important;
  width: 100% !important;
}

.rpv-core__page-layer {
  width: 100% !important;
}

.rpv-core__page {
  width: 100% !important;
  max-width: none !important;
  flex-grow: 1 !important;
}